<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>Welcome to Nowle application</h1>
<h2> Searching the patentServices in the list of patents</h2>
<ul>
    <li>

    </li>
</ul>
<form id="SearchForm" onsubmit="searchPatent(event)">
    <label for="Title to search"> Enter the patent title </label>
    <input type="text" id="Title to search" required title="patent">
    <button type="submit">Search patent</button>
</form>


</body>
</html>